body {
  margin: 0;
  padding: 0;
  background-color: #f2eee3;
}

h2 {
  color: #000;
  text-align: center;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: red;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 4px;
  padding-left: 5px;
}

a::before,
a::after,
span::before,
span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 1s;
}

a::before {
  top: -2px;
  right: -2px;
  border-top: 2px solid red;
  border-right: 2px solid red;
}

a::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid red;
  border-right: 2px solid red;
}

span::before {
  top: -2px;
  right: -2px;
  border-top: 2px solid red;
  border-right: 2px solid red;
}

span::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid red;
  border-right: 2px solid red;
}

a:hover::before,
a:hover::after,
a:hover span:before,
a:hover span::after {
  width: 90px;
  height: 25px;
}

/*# sourceMappingURL=styles.css.map */
